.logo {
  max-width: 6vw;
  max-height: 9vh;
  border-radius: 50%;
}
.ntitle {
  font-size: calc(12px + 0.5vw);
  line-height: -10;
}
.nsubtitle {
  font-size: calc(7px + 0.5vw);
  color: #b05ff8;
}

.post-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
  color: #333;
  margin-bottom: 15px;
}

.post-details p {
  margin: 5px 0;
  line-height: 1.6;
  color: #555;
}

.post-details p strong {
  color: #000;
}
